
NET "clk" LOC = "P89" | IOSTANDARD = LVCMOS25 | PERIOD = 31.25ns ;
NET "rst" LOC = "P85" | IOSTANDARD = LVTTL ; #
NET "DB<15>" LOC = "P91" | IOSTANDARD = LVTTL ; #
NET "DB<14>" LOC = "P92" | IOSTANDARD = LVTTL ; #
NET "DB<13>" LOC = "P94" | IOSTANDARD = LVTTL ; #
NET "DB<12>" LOC = "P95" | IOSTANDARD = LVTTL ; #
NET "DB<11>" LOC = "P98" | IOSTANDARD = LVTTL ; #
NET "DB<10>" LOC = "P2"  | IOSTANDARD = LVTTL ; #
NET "DB<9>"	LOC = "P3"  | IOSTANDARD = LVTTL ; #
NET "DB<8>"	LOC = "P4"  | IOSTANDARD = LVTTL ; #
NET "DB<7>"	LOC = "P5"  | IOSTANDARD = LVTTL ; #
NET "DB<6>"	LOC = "P9"  | IOSTANDARD = LVTTL ; #
NET "DB<5>"	LOC = "P10" | IOSTANDARD = LVTTL ; #
NET "DB<4>"	LOC = "P11" | IOSTANDARD = LVTTL ; #
NET "DB<3>"	LOC = "P12" | IOSTANDARD = LVTTL ; #
NET "DB<2>"	LOC = "P15" | IOSTANDARD = LVTTL ; #
NET "DB<1>"	LOC = "P16" | IOSTANDARD = LVTTL ; #
NET "DB<0>"	LOC = "P17" | IOSTANDARD = LVTTL ; #